! SNMP Configuration for {{ hostname }}

/system snmp
    admin-state enable
    network-instance mgmt {
        admin-state enable
    }
    community {{ snmp_community }} {
        authorization ro
    }
